.favourite-title {
    margin-bottom: 40px;
    font-family: "Alumatica",sans-serif;
    color: #667ad1;
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0;
}

.favourite-items-container {
    display: flex;
    justify-content: space-between  ;
}